.container {
    display: flex;
    position: relative;
    background-color: #f6f8f6;
}
.container-my-list {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 300px;
    top: 100px;
 }
 input {
    width: 90%;
    padding: 20px;
    background-color: #aae2c8;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-family: 'Balsamiq Sans', cursive;
 }
 button {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background: #D8d61a;
    border-radius: 20px;
    color: white;
    border: none; 
    font-size: 20px;
    font-family: 'Balsamiq Sans', cursive;
}
.icon-start {
    width: 30px;
    height: 30px;
}
li {
    list-style: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-family: 'Balsamiq Sans', cursive;
}
ul {
    width: 300px;
    height: 300px;
    background-color: #70d9d1;
    border-radius: 20px;
    font-family: 'Balsamiq Sans', cursive;
}
 @media all and (max-width: 1000px) {
    .container-my-list {
        right: 50px;
        top: 20px;
     } 
 ul {
    width: 200px;
    height: 200px;
}
input {
    width: 70%;
}
 button {
    width: 85%;
 }
}

@media all and (max-width: 500px) {
.container-my-list {
    right: 30px;
    top: 270px;
} 
 ul {
    width: 200px;
    height: 200px;
}
input {
    width: 70%;
}
 button {
    width: 85%;
 }
}